<p id="notice"><%= notice %></p>

<p>
  <strong>Idproducto:</strong>
  <%= @repuesto_accesorio.idProducto %>
</p>

<p>
  <strong>Referenciaproducto:</strong>
  <%= @repuesto_accesorio.referenciaProducto %>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <%= @repuesto_accesorio.nombreProducto %>
</p>

<p>
  <strong>Marcaproducto:</strong>
  <%= @repuesto_accesorio.marcaProducto %>
</p>

<p>
  <strong>Imagenproducto:</strong>
  <%= @repuesto_accesorio.imagenProducto %>
</p>

<p>
  <strong>Valorproducto:</strong>
  <%= @repuesto_accesorio.valorProducto %>
</p>

<p>
  <strong>Estadoproducto:</strong>
  <%= @repuesto_accesorio.estadoProducto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @repuesto_accesorio.descripcion %>
</p>

<p>
  <strong>Tipoelemento:</strong>
  <%= @repuesto_accesorio.tipoElemento %>
</p>

<%= link_to 'Edit', edit_repuesto_accesorio_path(@repuesto_accesorio) %> |
<%= link_to 'Back', repuesto_accesorios_path %>
