<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :personId %><br>
    <%= f.number_field :personId %>
  </div>
  <div class="field">
    <%= f.label :document %><br>
    <%= f.number_field :document %>
  </div>
  <div class="field">
    <%= f.label :personName %><br>
    <%= f.text_field :personName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :personStatus %><br>
    <%= f.check_box :personStatus %>
  </div>
  <div class="field">
    <%= f.label :birthDay %><br>
    <%= f.date_select :birthDay %>
  </div>
  <div class="field">
    <%= f.label :publicity %><br>
    <%= f.check_box :publicity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
