<%= form_for(@accesory_part) do |f| %>
  <% if @accesory_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accesory_part.errors.count, "error") %> prohibited this accesory_part from being saved:</h2>

      <ul>
      <% @accesory_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :productReference %><br>
    <%= f.text_field :productReference %>
  </div>
  <div class="field">
    <%= f.label :productName %><br>
    <%= f.text_field :productName %>
  </div>
  <div class="field">
    <%= f.label :productTradeMark %><br>
    <%= f.text_field :productTradeMark %>
  </div>
  <div class="field">
    <%= f.label :productImage %><br>
    <%= f.text_field :productImage %>
  </div>
  <div class="field">
    <%= f.label :productPrice %><br>
    <%= f.number_field :productPrice %>
  </div>
  
  <div class="field">
    <%= f.label :productDescription %><br>
    <%= f.text_field :productDescription %>
  </div>
  <div class="field">
    <%= Tipo elemento (checkbox con opcion de accesorio o repuesto><br>
    <%= f.text_field :typeElement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
