<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @accesory_part.productId %>
</p>

<p>
  <strong>Productreference:</strong>
  <%= @accesory_part.productReference %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @accesory_part.productName %>
</p>

<p>
  <strong>Producttrademark:</strong>
  <%= @accesory_part.productTradeMark %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @accesory_part.productImage %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @accesory_part.productPrice %>
</p>

<p>
  <strong>Productstatus:</strong>
  <%= @accesory_part.productStatus %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @accesory_part.productDescription %>
</p>

<p>
  <strong>Typeelement:</strong>
  <%= @accesory_part.typeElement %>
</p>

<%= link_to 'Edit', edit_accesory_part_path(@accesory_part) %> |
<%= link_to 'Back', accesory_parts_path %>
