<h1>Listing sellers</h1>

<table>
  <thead>
    <tr>
      <th>Personid</th>
      <th>Document</th>
      <th>Personname</th>
      <th>Email</th>
      <th>Lastname</th>
      <th>Telephone</th>
      <th>Personstatus</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.id %></td>
        <td><%= seller.username %></td>
        <td><%= seller.email %></td>
        <td><%= seller.userLastName %></td>
        <td><%= seller.document %></td>
        <td><%= seller.telephone %></td>
        <td><%= seller.status %></td>
      

      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Seller', new_user_registration_path %>


<br>



