<%= form_for(@ventum) do |f| %>
  <% if @ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% @ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idVenta %><br>
    <%= f.number_field :idVenta %>
  </div>
  <div class="field">
    <%= f.label :idVendedor %><br>
    <%= f.number_field :idVendedor %>
  </div>
  <div class="field">
    <%= f.label :idCliente %><br>
    <%= f.number_field :idCliente %>
  </div>
  <div class="field">
    <%= f.label :fechaVenta %><br>
    <%= f.date_select :fechaVenta %>
  </div>
  <div class="field">
    <%= f.label :estadoVenta %><br>
    <%= f.check_box :estadoVenta %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br>
    <%= f.text_field :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
