<h1>Listing venta</h1>

<table>
  <thead>
    <tr>
      <th>Idventa</th>
      <th>Idvendedor</th>
      <th>Idcliente</th>
      <th>Fechaventa</th>
      <th>Estadoventa</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venta.each do |ventum| %>
      <tr>
        <td><%= ventum.idVenta %></td>
        <td><%= ventum.idVendedor %></td>
        <td><%= ventum.idCliente %></td>
        <td><%= ventum.fechaVenta %></td>
        <td><%= ventum.estadoVenta %></td>
        <td><%= ventum.observaciones %></td>
        <td><%= link_to 'Show', ventum %></td>
        <td><%= link_to 'Edit', edit_ventum_path(ventum) %></td>
        <td><%= link_to 'Destroy', ventum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventum', new_ventum_path %>
