<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8" />

 <!-- Uncomment to make IE8 render like IE7 -->
 <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

 <!-- Set the viewport width to device width for mobile -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <title><%= content_for?(:title) ? yield(:title) : "BIKESIS" %></title>

 <%= stylesheet_link_tag    "application" %>
 <%= javascript_include_tag "vendor/custom.modernizr" %>
 <%= csrf_meta_tags %>
</head>

<body>
  <div class="fixed sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">

        <li class="name">
          <h1>
            <a href="#">
              CICLERIA CAFE TALLER
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
      </ul>

      <%if user_signed_in? %>
      <%if current_user.userType == "Manager" %>

      <section class="top-bar-section">

        <ul class="right">
          <li><a><%= current_user.username %></a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Noticias</a>
            <ul class="dropdown">
              <li><label>Administración de noticias</label></li>
              <li><a href="/articles/new/">Crear Noticia</a></li>
              <li class="divider"></li>
              <li><a href="/articles/">Ver noticias</a></li>
              <li class="divider"></li>                 
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Vendedores</a>
            <ul class="dropdown">
              <li><label>Administración de vendedores</label></li>
              <li><a href="/sellers/new/">Crear Vendedor</a></li>
              <li class="divider"></li>
              <li><a href="/sellers">Listar vendedores</a></li>
              <li class="divider"></li>
              <li><%= link_to 'Generar reporte de vendedores', equipment_index_path(:pdf) %></li>
              <li class="divider"></li>

              



            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Ventas</a>
            <ul class="dropdown">
              <li><label>Administrar ventas</label></li>
              <li><a href="/sales/">Consultar ventas</a></li>
              <li class="divider"></li>
              <li><a href="/">Generar reporte de ventas</a></li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Productos</a>
            <ul class="dropdown">
              <li><label>Productos destacados</label></li>
              <li class="divider"></li>
              <li><a href="/catalog/index">Catalogo</a></li>
              <li class="divider"></li>
              <li><label>Administración de productos</label></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Bicicletas</a>
                <ul class="dropdown">
                  <li><a href="/bikes/">Listar bicicletas</a></li>
                  <li><%= link_to 'Generar reporte de bicicletas', bikes_path(:pdf) %></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Equipaciones</a>
                <ul class="dropdown">
                  <li><a href="/equipment/">Listar equipaciones</a></li>
                  <li><%= link_to 'Generar reporte de equipaciones', equipment_index_path(:pdf) %></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Articulos y accesorios</a>
                <ul class="dropdown">
                  <li><a href="/accesory_parts/">Listar articulos y accesorios</a></li>
                  <li><%= link_to 'Generar reporte de articulos y accesorios', accesory_parts_path(:pdf) %></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><label> Información de cantidades</label></li>
              <li><a href="/inventories/">Inventario de productos</a></li>
            </ul>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Clientes</a>
              <ul class="dropdown">
                <li><label>Administración de clientes</label></li>
                <li><a href="/clients/">Listar clientes</a></li>
                <li class="divider"></li>
                <li><%= link_to 'Generar reporte de Clientes', clients_path(:pdf) %></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">FAQ</a>
              <ul class="dropdown">
                <li class="divider"></li>
                <li><a href="#">Ayuda</a></li>
                <li class="divider"></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
                <li class="divider"></li>
                <li><a href="#">Acerca de </a></li>
                <li class="divider"></li>

              </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Cuenta</a>
              <ul class="dropdown">
                <li class="divider"></li>
                <li><a href="#">Ver informacion</a></li>
                <li class="divider"></li>
                <li><%= link_to "Modificar datos",  edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><label> Salir</label></li>
                <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </li>
        </ul>
      </section>

      <%else if current_user.userType == "Seller" %>
      <section class="top-bar-section">

        <ul class="right">

          <li class="has-dropdown">
            <a href="#">Ventas</a>
            <ul class="dropdown">
              <li><label>Administrar ventas</label></li>
              <li><%= link_to "Nueva Venta",  new_sale_path %></li>
              <li class="divider"></li>
              <li><a href="/sales/">Consultar ventas</a></li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Productos</a>
            <ul class="dropdown">
              <li><label>Productos destacados</label></li>
              <li class="divider"></li>
              <li><a href="/catalog/index">Catalogo</a></li>
              <li class="divider"></li>
              <li><label>Administración de productos</label></li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Bicicletas</a>
                <ul class="dropdown">
                  <li><a href="/bikes/new">Nueva Bicicleta</a></li>
                  <li><a href="/bikes/">Listar bicicletas</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Equipaciones</a>
                <ul class="dropdown">

                  <li><a href="/equipment/new">Nueva equipacion</a></li>
                  <li><a href="/equipment/">Listar equipaciones</a></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown">
                <a href="#" class="">Articulos y accesorios</a>
                <ul class="dropdown">
                  <li><a href="/accesory_parts/new">Nuevo Articulo - Accesorio</a></li>
                  <li><a href="/accesory_parts/">Listar articulos y accesorios</a></li>

                </li>
                <li class="divider"></li>
                <li><label> Información de producto</label></li>
                <li><a href="/inventories/">Inventario de productos</a></li>

              </ul>
            </li>
            <li class="divider"></li>
            <li><label> Información de cantidades</label></li>
            <li><a href="/inventories/">Inventario de productos</a></li>
          </ul>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Clientes</a>
            <ul class="dropdown">
              <li><label>Administración de clientes</label></li>
              <li><a href="/clients/">Nuevo cliente</a></li>
              <li class="divider"></li>
              <li><a href="/clients/">Listar clientes</a></li>
              <li class="divider"></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">FAQ</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">Ayuda</a></li>
              <li class="divider"></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li class="divider"></li>
              <li><a href="#">Acerca de </a></li>
              <li class="divider"></li>

            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Cuenta</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">Ver informacion</a></li>
              <li class="divider"></li>
              <li><%= link_to "Modificar datos",  edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><label> Salir</label></li>
              <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </li>


        <%end%>
        <%end%>


        <%else%>
        <section class="top-bar-section">

          <ul class="right">


            <section class="top-bar-section">

              <ul class="right">
                <li><a href="/articles">Noticias</a></li>

                <li class="divider"></li>

                <li class="has-dropdown">
                  <a href="#">Productos</a>
                  <ul class="dropdown">
                    <li><label>Productos destacados</label></li>
                    <li class="divider"></li>
                    <li><a href="/catalog/index">Catalogo</a></li>
                    <li class="divider"></li>
                    <li><label>Administración de productos</label></li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Bicicletas</a>
                      <ul class="dropdown">
                        <li><a href="/bikes/">Listar bicicletas</a></li>
                      </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Equipaciones</a>
                      <ul class="dropdown">
                        <li><a href="/equipment/">Listar equipaciones</a></li>
                      </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-dropdown">
                      <a href="#" class="">Articulos y accesorios</a>
                      <ul class="dropdown">
                        <li><a href="/accesory_parts/">Listar articulos y accesorios</a></li>
                      </ul>
                    </li>
                  </ul>

                  <li class="divider"></li>
                  <li><a href="#"><%= link_to "Iniciar sesion", user_session_path %></a></li>
                </li>
              </li>
            </ul>
          </section>


          <%end%>

        </nav>
      </div>

      <%= render 'layouts/messages' %>


      <br>
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>

      <%= yield %>

      <br>

      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">

            <div class="large-6 columns">
              <p>Somos distribuidores autorizados de </p>
            </div>

            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">KTM</a></li>
                <li><a href="#">Specialized</a></li>
                <li><a href="#">Felt</a></li>
                <li><a href="#">GW</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="large-12 columns">
          <div class="row">

            <div class="large-6 columns">
              <p>© Trabajo de Campo</p>
            </div>

          </div>
        </div>
      </footer>


      <%= javascript_include_tag "application" %>
    </body>

    </html>
