<h1>Listing noticias</h1>

<table>
  <thead>
    <tr>
      <th>Idnoticia</th>
      <th>Idgerente</th>
      <th>Fechapublicacion</th>
      <th>Cuerpo</th>
      <th>Resumen</th>
      <th>Estadonoticia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noticias.each do |noticia| %>
      <tr>
        <td><%= noticia.idNoticia %></td>
        <td><%= noticia.idGerente %></td>
        <td><%= noticia.fechaPublicacion %></td>
        <td><%= noticia.cuerpo %></td>
        <td><%= noticia.resumen %></td>
        <td><%= noticia.estadoNoticia %></td>
        <td><%= link_to 'Show', noticia %></td>
        <td><%= link_to 'Edit', edit_noticia_path(noticia) %></td>
        <td><%= link_to 'Destroy', noticia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Noticias', new_noticia_path %>
