<h1>Listing equipaciones</h1>

<table>
  <thead>
    <tr>
      <th>Idproducto</th>
      <th>Referenciaproducto</th>
      <th>Nombreproducto</th>
      <th>Marcaproducto</th>
      <th>Imagenproducto</th>
      <th>Valorproducto</th>
      <th>Estadoproducto</th>
      <th>Descripcion</th>
      <th>Talla</th>
      <th>Genero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipaciones.each do |equipacione| %>
      <tr>
        <td><%= equipacione.idProducto %></td>
        <td><%= equipacione.referenciaProducto %></td>
        <td><%= equipacione.nombreProducto %></td>
        <td><%= equipacione.marcaProducto %></td>
        <td><%= equipacione.imagenProducto %></td>
        <td><%= equipacione.valorProducto %></td>
        <td><%= equipacione.estadoProducto %></td>
        <td><%= equipacione.descripcion %></td>
        <td><%= equipacione.talla %></td>
        <td><%= equipacione.genero %></td>
        <td><%= link_to 'Show', equipacione %></td>
        <td><%= link_to 'Edit', edit_equipacione_path(equipacione) %></td>
        <td><%= link_to 'Destroy', equipacione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipacione', new_equipacione_path %>
