<p id="notice"><%= notice %></p>

<p>
  <strong>Idproducto:</strong>
  <%= @equipacione.idProducto %>
</p>

<p>
  <strong>Referenciaproducto:</strong>
  <%= @equipacione.referenciaProducto %>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <%= @equipacione.nombreProducto %>
</p>

<p>
  <strong>Marcaproducto:</strong>
  <%= @equipacione.marcaProducto %>
</p>

<p>
  <strong>Imagenproducto:</strong>
  <%= @equipacione.imagenProducto %>
</p>

<p>
  <strong>Valorproducto:</strong>
  <%= @equipacione.valorProducto %>
</p>

<p>
  <strong>Estadoproducto:</strong>
  <%= @equipacione.estadoProducto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @equipacione.descripcion %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @equipacione.talla %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @equipacione.genero %>
</p>

<%= link_to 'Edit', edit_equipacione_path(@equipacione) %> |
<%= link_to 'Back', equipaciones_path %>
