<h1>Listing bicicleta</h1>

<table>
  <thead>
    <tr>
      <th>Idproducto</th>
      <th>Referenciaproducto</th>
      <th>Nombreproducto</th>
      <th>Marcaproducto</th>
      <th>Imagenproducto</th>
      <th>Valorproducto</th>
      <th>Estadoproducto</th>
      <th>Descripcion</th>
      <th>Medidas</th>
      <th>Tipobicicleta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicicleta.each do |bicicletum| %>
      <tr>
        <td><%= bicicletum.idProducto %></td>
        <td><%= bicicletum.referenciaProducto %></td>
        <td><%= bicicletum.nombreProducto %></td>
        <td><%= bicicletum.marcaProducto %></td>
        <td><%= bicicletum.imagenProducto %></td>
        <td><%= bicicletum.valorProducto %></td>
        <td><%= bicicletum.estadoProducto %></td>
        <td><%= bicicletum.descripcion %></td>
        <td><%= bicicletum.medidas %></td>
        <td><%= bicicletum.tipoBicicleta %></td>
        <td><%= link_to 'Show', bicicletum %></td>
        <td><%= link_to 'Edit', edit_bicicletum_path(bicicletum) %></td>
        <td><%= link_to 'Destroy', bicicletum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bicicletum', new_bicicletum_path %>
