<p id="notice"><%= notice %></p>

<p>
  <strong>Idproducto:</strong>
  <%= @bicicletum.idProducto %>
</p>

<p>
  <strong>Referenciaproducto:</strong>
  <%= @bicicletum.referenciaProducto %>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <%= @bicicletum.nombreProducto %>
</p>

<p>
  <strong>Marcaproducto:</strong>
  <%= @bicicletum.marcaProducto %>
</p>

<p>
  <strong>Imagenproducto:</strong>
  <%= @bicicletum.imagenProducto %>
</p>

<p>
  <strong>Valorproducto:</strong>
  <%= @bicicletum.valorProducto %>
</p>

<p>
  <strong>Estadoproducto:</strong>
  <%= @bicicletum.estadoProducto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @bicicletum.descripcion %>
</p>

<p>
  <strong>Medidas:</strong>
  <%= @bicicletum.medidas %>
</p>

<p>
  <strong>Tipobicicleta:</strong>
  <%= @bicicletum.tipoBicicleta %>
</p>

<%= link_to 'Edit', edit_bicicletum_path(@bicicletum) %> |
<%= link_to 'Back', bicicleta_path %>
