<div class="panel">
  <%if @bikes.empty?  %>
  <p>            </p>
  <div class="row">
    <div class="small-8 large-centered columns">
      <h1>Aun no se ha registrado ninguna bicicleta</h1>
    </div>
  </div>
  <%else%>
  <div class="row">
    <div class="small-12 large-centered columns">
      <h1>Lista de Bicicletas - La Ciclería</h1>
    </div>
    <div class="large-centered columns">

      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Referencia</th>
            <th>Producto</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Medidas</th>
            <th>Tipo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @bikes.each do |bike| %>
          <tr>
            <td><%= bike.productId %></td>
            <td><%= bike.productReference %></td>
            <td><%= bike.productName %></td>
            <td><%= bike.productTradeMark %></td>
            <td><%= bike.productPrice %></td>
            <td><%= bike.productDescription %></td>
            <td><%= bike.measures %></td>
            <td><%= bike.bikeType %></td>
            <td>
                <%= link_to 'Ver', bike , class: "small button success centered"%>
                <%= link_to 'Editar', edit_bike_path(bike), class: "small button success" %>
                <% if bike.productStatus == true %>
                <%= link_to 'Deshabilitar', bike, method: :delete, class: "small button alert",data: { confirm: 'Estas seguro de deshabilitar esta bicicleta?'} %>
                <%else%>
                <%= link_to 'Habilitar', bike, method: :delete, class: "small button success"%>
                <%end%>

            </td>
            
              
              
            </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
      <br>
      <%= link_to 'Nueva Bicicleta', new_bike_path , class: "button success radius"%> 
      <%= link_to 'Generar Reporte', bikes_path(:pdf) , class: "button radius"%>
    </div>
  </div>
  <%end%>
</div>

