<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @bike.productId %>
</p>

<p>
  <strong>Productreference:</strong>
  <%= @bike.productReference %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @bike.productName %>
</p>

<p>
  <strong>Producttrademark:</strong>
  <%= @bike.productTradeMark %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @bike.productImage %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @bike.productPrice %>
</p>

<p>
  <strong>Productstatus:</strong>
  <%= @bike.productStatus %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @bike.productDescription %>
</p>

<p>
  <strong>Measures:</strong>
  <%= @bike.measures %>
</p>

<p>
  <strong>Biketype:</strong>
  <%= @bike.bikeType %>
</p>

<%= link_to 'Edit', edit_bike_path(@bike) %> |
<%= link_to 'Back', bikes_path %>
