<%= form_for(@gerente) do |f| %>
  <% if @gerente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gerente.errors.count, "error") %> prohibited this gerente from being saved:</h2>

      <ul>
      <% @gerente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idPersona %><br>
    <%= f.number_field :idPersona %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.number_field :documento %>
  </div>
  <div class="field">
    <%= f.label :nombrePersona %><br>
    <%= f.text_field :nombrePersona %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :estadoPersona %><br>
    <%= f.check_box :estadoPersona %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
