<h1>Listing gerentes</h1>

<table>
  <thead>
    <tr>
      <th>Idpersona</th>
      <th>Documento</th>
      <th>Nombrepersona</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Estadopersona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gerentes.each do |gerente| %>
      <tr>
        <td><%= gerente.idPersona %></td>
        <td><%= gerente.documento %></td>
        <td><%= gerente.nombrePersona %></td>
        <td><%= gerente.apellido %></td>
        <td><%= gerente.telefono %></td>
        <td><%= gerente.estadoPersona %></td>
        <td><%= link_to 'Show', gerente %></td>
        <td><%= link_to 'Edit', edit_gerente_path(gerente) %></td>
        <td><%= link_to 'Destroy', gerente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gerentes', new_gerente_path %>
