<%= form_for(@article) do |f| %> 
<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :articleTitle %><br>
    <%= f.text_field :articleTitle %>
  </div>

  <%=  f.hidden_field :managerId, :value => current_user.id %>

  <%=  f.hidden_field :publicationDate, :value => Time.now %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :articleState %><br>
    <%= f.check_box :articleState %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

