<div class="row">
  <div class="large-8 columns">
    <h2>Lista de noticias </h2>
  </div>
</div>

<div class="large-4 columns">

  <% @articles.reverse_each do |article| %>

  <hr/>
  <article>

    <div class="row">
      <div class="large-8 columns">
        <h3><%=article.articleTitle%></h3>
        <p align="justify"><%= article.summary %></p>
      </div>
    </div>
    <div class="row">
      <div class="large-8 columns">
        <h6><%= article.publicationDate %>.</h6>
        <dl class="sub-nav">
          <dd><%= link_to 'Leer más', article %></dd>
          <dd><%= link_to 'Editar', edit_article_path(article) %></dd>
          <dd><%= link_to 'Borrar', article, :confirm => '¿Seguro de que deseas borrar este artículo?', :method => :delete %></dd>
        </dl>
      </div>
    </div>
  </article>


  <% end %>
  <div class="row">
    <div class="large-8 columns">
     <a href="/articles/new">Crear un artículo</a>   
   </div>
 </div>


</div>

<br>


