<%= form_for(@equipment) do |f| %>
<% if @equipment.errors.any? %>
<div class="row">
  <div class="small-8 large-centered columns">
    <div data-alert class="alert-box alert radius">
      <%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:
      <ul>
        <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
</div>
<% end %>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Id</label>
      </div>
      <div class="small-9 columns">
        <%= f.number_field :productId %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Referencia</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :productReference , autofocus: true %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Producto</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :productName %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Marca</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :productTradeMark %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Precio</label>
      </div>
      <div class="small-9 columns">
        <%= f.number_field :productPrice %>
      </div>
    </div>
  </div>
</div>
<br>


<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Descripción</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :productDescription %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Talla</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :size %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Genero</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :gender %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Imagen</label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :productImage %>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Estado</label>
      </div>
      <div class="small-9 columns">
        <%= f.check_box :productStatus, class: "small-2 switch tiny round" %>
      </div>
      <div class="small-2 switch tiny round">
        <input id="a" name="switch-a" type="radio" value="0" checked>
        <label for="a" onclick="">Deshabilitaado</label>

        <input id="a1" name="switch-a" type="radio" value="1">
        <label for="a1" onclick="">Habilitado</label>


        <span></span>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="small-4 large-centered columns"><%= f.submit "Guardar", class: "button success radius" %>
  </div>
</div>

<% end %>
