<p id="notice"><%= notice %></p>

<p>
  <strong>Idpersona:</strong>
  <%= @vendedore.idPersona %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @vendedore.documento %>
</p>

<p>
  <strong>Nombrepersona:</strong>
  <%= @vendedore.nombrePersona %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @vendedore.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @vendedore.telefono %>
</p>

<p>
  <strong>Estadopersona:</strong>
  <%= @vendedore.estadoPersona %>
</p>

<%= link_to 'Edit', edit_vendedore_path(@vendedore) %> |
<%= link_to 'Back', vendedores_index_path %>
