<%= form_for(@historial_contrato) do |f| %>
  <% if @historial_contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historial_contrato.errors.count, "error") %> prohibited this historial_contrato from being saved:</h2>

      <ul>
      <% @historial_contrato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idPersona %><br>
    <%= f.number_field :idPersona %>
  </div>
  <div class="field">
    <%= f.label :fechaContrato %><br>
    <%= f.date_select :fechaContrato %>
  </div>
  <div class="field">
    <%= f.label :fechaFinContrato %><br>
    <%= f.date_select :fechaFinContrato %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
