<p id="notice"><%= notice %></p>

<p>
  <strong>Idpersona:</strong>
  <%= @historial_contrato.idPersona %>
</p>

<p>
  <strong>Fechacontrato:</strong>
  <%= @historial_contrato.fechaContrato %>
</p>

<p>
  <strong>Fechafincontrato:</strong>
  <%= @historial_contrato.fechaFinContrato %>
</p>

<%= link_to 'Edit', edit_historial_contrato_path(@historial_contrato) %> |
<%= link_to 'Back', historial_contratos_path %>
