<p id="notice"><%= notice %></p>

<p>
  <strong>Idventa:</strong>
  <%= @item.idVenta %>
</p>

<p>
  <strong>Idproducto:</strong>
  <%= @item.idProducto %>
</p>

<p>
  <strong>Cantidaditem:</strong>
  <%= @item.cantidadItem %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_index_path %>
