<h1>Listing bicicletas</h1>

<table>
  <thead>
    <tr>
      <th>Idproducto</th>
      <th>Referenciaproducto</th>
      <th>Nombreproducto</th>
      <th>Marcaproducto</th>
      <th>Imagenproducto</th>
      <th>Valorproducto</th>
      <th>Estadoproducto</th>
      <th>Descripcion</th>
      <th>Medidas</th>
      <th>Tipobicicleta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bicicletas.each do |bicicleta| %>
      <tr>
        <td><%= bicicleta.idProducto %></td>
        <td><%= bicicleta.referenciaProducto %></td>
        <td><%= bicicleta.nombreProducto %></td>
        <td><%= bicicleta.marcaProducto %></td>
        <td><%= bicicleta.imagenProducto %></td>
        <td><%= bicicleta.valorProducto %></td>
        <td><%= bicicleta.estadoProducto %></td>
        <td><%= bicicleta.descripcion %></td>
        <td><%= bicicleta.medidas %></td>
        <td><%= bicicleta.tipoBicicleta %></td>
        <td><%= link_to 'Show', bicicleta %></td>
        <td><%= link_to 'Edit', edit_bicicleta_path(bicicleta) %></td>
        <td><%= link_to 'Destroy', bicicleta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bicicletas', new_bicicleta_path %>
