<p id="notice"><%= notice %></p>

<p>
  <strong>Idproducto:</strong>
  <%= @bicicleta.idProducto %>
</p>

<p>
  <strong>Referenciaproducto:</strong>
  <%= @bicicleta.referenciaProducto %>
</p>

<p>
  <strong>Nombreproducto:</strong>
  <%= @bicicleta.nombreProducto %>
</p>

<p>
  <strong>Marcaproducto:</strong>
  <%= @bicicleta.marcaProducto %>
</p>

<p>
  <strong>Imagenproducto:</strong>
  <%= @bicicleta.imagenProducto %>
</p>

<p>
  <strong>Valorproducto:</strong>
  <%= @bicicleta.valorProducto %>
</p>

<p>
  <strong>Estadoproducto:</strong>
  <%= @bicicleta.estadoProducto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @bicicleta.descripcion %>
</p>

<p>
  <strong>Medidas:</strong>
  <%= @bicicleta.medidas %>
</p>

<p>
  <strong>Tipobicicleta:</strong>
  <%= @bicicleta.tipoBicicleta %>
</p>

<%= link_to 'Edit', edit_bicicleta_path(@bicicleta) %> |
<%= link_to 'Back', bicicletas_index_path %>
