<p id="notice"><%= notice %></p>

<p>
  <strong>Idnoticia:</strong>
  <%= @noticium.idNoticia %>
</p>

<p>
  <strong>Idgerente:</strong>
  <%= @noticium.idGerente %>
</p>

<p>
  <strong>Fechapublicacion:</strong>
  <%= @noticium.fechaPublicacion %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @noticium.cuerpo %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @noticium.resumen %>
</p>

<p>
  <strong>Estadonoticia:</strong>
  <%= @noticium.estadoNoticia %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
