<h1>Listing inventarios</h1>

<table>
  <thead>
    <tr>
      <th>Cantidadproductos</th>
      <th>Idproducto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventarios.each do |inventario| %>
      <tr>
        <td><%= inventario.cantidadProductos %></td>
        <td><%= inventario.idProducto %></td>
        <td><%= link_to 'Show', inventario %></td>
        <td><%= link_to 'Edit', edit_inventario_path(inventario) %></td>
        <td><%= link_to 'Destroy', inventario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventario', new_inventario_path %>
