<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <a> Product</a>
    <%= f.collection_select :productId, @bikes, :productId, :productName, include_blank: true %>
  </div>
  <div class="field">
    Cantidad<br>
    <%= f.number_field :productAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
