<p id="notice"><%= notice %></p>

<p>
  <strong>Productamount:</strong>
  <%= @inventory.productAmount %>
</p>

<p>
  <strong>Productid:</strong>
  <%= @inventory.productId %>
</p>

<%= link_to 'Editar', edit_inventory_path(@inventory) %> |
<%= link_to 'Volver', inventories_path %>
